
.input-area {
    max-width: 50%;
    width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.input-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.search {
    box-shadow: 0px 28px 15px -3px rgba(0,0,0,0.1);
}


input {
    width: 16rem;
    height: 4rem;
    padding: 0 1rem;
    border: white 1px solid;
    border-radius: 0.5rem 0 0 0.5rem;
    font-size: 18px;   

}

button {
    height: 4.2rem;
    background: #242424;
    border: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    
    cursor: pointer;
    opacity: 0.8;
}

button:hover {
    transition: 0.5s;
    opacity: 1;
}

button p {
    font-size: 18px;
}